name: Enforce SHA for github workflow actions pinned to SHA.

on:
  push:
    paths:
      - '.github/workflows/**.yml'
      - '.github/workflows/**.yaml'
      - '.github/actions/**.yml'
      - '.github/actions/**.yaml'

jobs:
  check-uses-sha:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.3.0

      - name: Validate workflow pinning
        uses: ./.github/actions/validate-workflow-pinning
        with:
          allow-unpinned: ''
